{% extends 'base.html' %}
{% block body %}
<div class="carousel-inner">
          <div class="carousel-item active">
            <img src="static/2.jpeg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5 style="font-size:85px; color:#FFD500"><strong>ABOUT US</strong></h5>
            </div>
          </div>
</div>

<div style="background-color:black;color:white;padding:250px;">
    <h2 style= "margin-top:-20%; color:#FFD500;">Our Story </h2>
    <p>Gym and Fitness was founded in 2002 as a family owned and operated business. The Gym and Fitness founders didn’t want it to be just another gym equipment retailer - they wanted to be the best in the industry and set their minds to doing so! Since its birth, Gym and Fitness has grown into one of Australia’s largest online fitness equipment retailers having helped over 50,000 customers live longer, happier and healthier lives</p>
    <h2 style= "margin-top:20%; color:#FFD500;">What we do</h2>
    <p>We want to help you live a fit and healthy lifestyle! We do this by helping you find the most suitable equipment for your home gym, studio or commercial gym, keeping your budget, lifestyle and fitness goals in mind. We stock a wide range of gym equipment, with strength equipment, cardio, cross training and so much more. Our awesome team is always keen to help, so please call us to discuss your needs.</p>
  </div> 

  <div class="container-fluid px-5">
    <img src="static/5.jpeg" class="d-block w-100" alt="...">
  </div>

  <div style="background-color:black;color:white;padding:100px;">
    <h2 style= "margin-top:4%; color:#FFD500;">Our Story </h2>
    <p>Gym and Fitness was founded in 2002 as a family owned and operated business. The Gym and Fitness founders didn’t want it to be just another gym equipment retailer - they wanted to be the best in the industry and set their minds to doing so! Since its birth, Gym and Fitness has grown into one of Australia’s largest online fitness equipment retailers having helped over 50,000 customers live longer, happier and healthier lives</p>
    </div>
    <h2 class="text-center"style= "margin-top:4%; margin-left:3%; color:black; font-size:55px;"><strong>Our Team</strong></h2>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 px-4 mx-4" style="margin-top:4%;">
    <div class="col" style="width: 21%; margin-left:5%;margin-right:15%;">
      <div class="card shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="" img src= role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        <div class="card-body">
          <h3>Hrithik Bhokare</h3>
          <p class="card-text">Co-Founder</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              
              
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="col-center" style="width: 21%; margin-right:15%;">
      <div class="card shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        <div class="card-body">
          <h3>Rajesh Giri</h3>
          <p class="card-text">Co-Founder</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="col" style="width: 21%;">
      <div class="card shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        <div class="card-body">
          <h3>Bajpaiee Mandal</h3>
          <p class="card-text">C.E.O</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              
            </div>
            
          </div>
        </div>
      </div>
    </div>

    
</div>
{% endblock body %}