{% extends 'base.html' %}
{% block body %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<body style="background-color:black; color:#FFD500;">
<div class="container">

<h3 class="text-center" style="margin-top:10%; font-size:55px; color:#FFD500;">Contact us</h3><br />

<div class="row" >
  <div class="col-md-8" style="margin-top:3%">
      <form action="/contactus" method="post">
        {% csrf_token %}
        <p>Name</p> 
        <input class="form-control" name="name" placeholder="name..." /><br />
        <p>Phone</p> 
        <input class="form-control" name="phone" placeholder="phone..." /><br />
        <p>E-mail</p> 
        <input class="form-control" name="email" placeholder="email..." /><br />
        <p>Message</p> 
        <textarea class="form-control" name="desc" placeholder="How can we help you?" style="height:150px;"></textarea><br />
        <input class="btn btn-primary" type="submit" value="Send" /><br /><br />
      </form>
  </div>
  <div class="col-md-4" style="margin-top:5%;">
    <b>Customer service:</b> <br/>
    Phone: +1 129 209 291<br />
    E-mail: <a href="mailto:support@mysite.com">support@mysite.com</a><br />
    <br /><br />
    <b>Headquarter:</b><br />
    Company Inc, <br />
    Las vegas street 201<br />
    55001 Nevada, USA<br />
    Phone: +1 145 000 101<br />
    <a href="mailto:usa@mysite.com">usa@mysite.com</a><br />


    <br /><br />
    <b >Hong kong:</b><br />
    Company HK Litd, <br />
    25/F.168 Queen<br />
    Wan Chai District, Hong Kong<br />
    Phone: +852 129 209 291<br />
    <a href="mailto:hk@mysite.com" >hk@mysite.com</a><br />


  </div>
</div>

</div>
</body>

{% endblock body %}